### Gradle ###
.gradle/
build/
bin/
gradle/
gradlew
gradlew.bat

### VS Code ###
.vscode/

### Git ###
.git
.github
.gitignore
.gitattributes

### Docker ###
Dockerfile
docker-compose.yml
docker-compose.db.mail.yml
docker-compose.local.yml
docker-compose.all.yml
.dockerignore

### Other ###
*.md