<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no" />
        <title id="title" th:text="@{${WEBSITE_NAME} + ' - ' + ${API_NAME}}"></title>

        <style>
            body {
                font-family: "Calibri";
                margin: 8px 27px;
            }

            code {
                background-color: rgb(221, 221, 221);
                border-radius: 4px;
                padding: 2px 4px;
            }

            hr {
                margin-top: 2em;
            }
        </style>
    </head>

    <body>
        <div>
            <h1 th:text="${API_NAME}"></h1>

            <p>REST service handling the user related logic for the <span th:text="${WEBSITE_NAME}"></span> API. Uses Java 17 with Spring Boot.</p>
            <hr>
        </div>

        <div>
            <h3>Run</h3>

            <div>
                <code>$ docker-compose -f 'docker-compose.local.yml' up</code><br>
                Call this inside project root folder of repository inside dev or stage branch.
            </div>
            <hr>
        </div>

        <div>
            <h3>Endpoints</h3>

            <a th:href="@{${BASE_URL} + '/swagger-ui/index.html#/'}" target="_blank">
                <span th:text="${BASE_URL}"></span>/swagger-ui/index.html#/
            </a>
            <hr>
        </div>

        <div>
            <h3>Repos</h3>
            <a href="https://github.com/flobbe9/word_light_user_service" target="_blank">https://github.com/flobbe9/word_light_user_service</a> <br>

            <a href="https://github.com/flobbe9/word_light_document_builder" target="_blank">https://github.com/flobbe9/word_light_document_builder</a> <br>
            
            <a href="https://github.com/flobbe9/word_light_frontend" target="_blank">https://github.com/flobbe9/word_light_frontend</a> <br>

            <a href="https://github.com/flobbe9/word_light_gateway" target="_blank">https://github.com/flobbe9/word_light_gateway</a>
            <hr>
        </div>

        <div>
            <h3>Versions</h3>
            <p>API Version: <span th:text="${API_VERSION}"></span></p>
            <p>Database Version: <span th:text="${DB_VERSION}"></span></p>
        </div>
    </body>
</html>